<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="consoleSection" type="ConsoleConfig.ConsoleSection, ConsoleConfig, Version=1.0.4855.38132, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <consoleSection>
        <consoleElement background="Black" foreground="White" />
    </consoleSection>
</configuration>